<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMLHomePage</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- The gradient background applied to the body -->
    <div class="container">
        <!-- Centered div box -->
        <h1>Website Title</h1>
        <!-- Game title -->
        <h2>Sub Title</h2>
        <!-- Sub title -->
        <button id="startGameBtn" class="btn-start">Enter Website</button>
        <!-- Start button -->
    </div>
</body>
</html>
